{% set current_tab = "tutorials" %}
{% set breadcrumbs = [ ( "tutorials", "tutorials/index.html" ), ( type, type_settings.index_save_as ), ( "tags", "tutorials/darth-arth/tags.html" ), ( tag, output_file ) ] %}

{% extends "base.html" %}
{% block title %}
    {{ SITENAME }} - {{ tag }}
{% endblock %}
{% block content %}
    <h1>Tutorials with tag "{{ tag }}"</h1>
    <ul>
    {% for article in articles %}
        <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}