{% set current_tab = "tutorials" %}
{% set breadcrumbs = [ ( "tutorials", "tutorials/index.html" ), ( "Darth-Arth.de Archiv", type_settings.index_save_as ), ( article.title, article.url ) ] %}

{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<article>
    <header>
        <h1>{{ article.title }}</h1>
        <p>
            <small>
                By
                {% for author in article.authors %}
                    <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </small>
        </p>
    </header>

    {{ article.content }}
    
    <hr/>
    
    <footer>
      <small>Alle Bilder, Texte, Grafiken, wenn nicht anders gekennzeichnet: © 2000 - 2003 (Artur L.) Nur zur privaten Nutzung. Kopieren nicht gestattet. Hier gespiegelt mit freundlicher Erlaubnis von Darth-Arth a.k.a. MetalBeast (<a href="http://www.3d-get.de/metalbeast">Website</a>).</small>
    </footer>

</article>
{% endblock %}
