{% extends "flat_list.html" %}

{% set current_tab = "home" %}
{% set breadcrumbs = [ ( "home", "index.html" ), ( "authors", output_file ) ] %}

{% set flat_list_iterable = articles_by_type_by_author | sort %}

{% block title %}
    {{ SITENAME }} - authors
{% endblock title %}

{% block introduction %}
    <h1>authors</h1>
{% endblock introduction %}

{% block list_item %}
    {% set author, articles_by_type = flat_list_current %}
    <a href="{{ SITEURL }}/{{ author.url }}">{{ author.name }}</a>
    ({% for type, articles in articles_by_type.items() | sort %}
        {{ types[ type ].settings.title }}: {{ articles | count }}{% if not loop.last %}, {% endif %}
    {% endfor %})
{% endblock list_item %}