<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
            {# these 3 must come first #}
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            
            <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
            <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
            {% if FEED_ALL_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
            {% endif %}
            {% if FEED_ALL_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
            {% endif %}
            {% block head %}{# option for additional page-specific head information #}{% endblock %}

            {# HTML5 support for old IE #}
            <!--[if lt IE 9]>
                <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/html5shiv.min.js"></script>
                <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/respond.min.js"></script>
            <![endif]-->
    </head>

    <body id="index" class="home">
        {# semantic information for screen-reader #}
        <div class="container">
            <header>
                {# Title #}
                <h1 class="text-center">{{ SITENAME }}</h1>
                
                {# Tabs #}
                {# the nav tag provides semantic information for screen-reader #}
                <nav>
                    <ul class="nav nav-tabs nav-justified">
                        {% for title, link in MENUITEMS %}
                            <li role="presentation" class="{% if current_tab == title %} active {% endif %}"><a href="{{ SITEURL }}/{{ link }}">{{ title }}</a></li>
                        {% endfor %}
                        {% if DISPLAY_PAGES_ON_MENU -%}
                            {% for current_page in PAGES %}
                                <li role="presentation"{% if current_tab == current_page.title %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ current_page.url }}">{{ current_page.title }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </nav>
                
                {# Breadcrumbs #}
                {% if breadcrumbs is defined %}
                    <br/>
                    <ol class="breadcrumb">
                        {% for title, link in breadcrumbs %}
                            {% if loop.last %}
                                <li class="active">{{ title|striptags }}</li>
                            {% else %}
                                <li><a href="{{ SITEURL }}/{{ link }}">{{ title|striptags }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                {% endif %}
            </header>
            
            {# content #}
            
            {% block content %}
            {% endblock %}
            
            <hr/>
            
            {# Footer #}
            <footer>
                <small>
                    {% block footer %}
                        <p>
                            {# '-' strips whitespace #}
                            {% if LINKS %}
                                Powered by {% for name, link in LINKS -%}
                                    {%- if not loop.first and not loop.last %}, {% endif -%}
                                    {%- if loop.last and not loop.first %} and {% endif -%}
                                    <a href="{{ link }}">{{ name }}</a>
                                {%- endfor -%}.
                            {% endif %}
                            <a href="{{ SITEURL }}/imprint.html">Imprint / Impressum</a>
                        </p>
                    {% endblock %}
                </small>
            </footer>
        </div>
    </body>
</html>
