{% extends "base.html" %}

{% set current_tab = "downloads" %}
{% set breadcrumbs = type_settings.parent_breadcrumbs + [ ( type_settings.title, type_settings.index_save_as ), ( article.title, output_file ) ] %}

{% block title %}
    {{ article.title|striptags }}
{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    
    <p>
        <a class="btn btn-default" href="{{ SITEURL }}/{{ article.link }}"><i class="fa fa-download"></i> Download</a></strong>
    </p>
    
    {# clearfix makes pulls not escape the parent element #}
    <div class="clearfix">
        <div class="pull-left">
            <span class="thumbnail download-thumbnail"><img src="{{ article.thumbnail }}" alt="image"/></span>
        </div>
        {# this will wrap if there is too little space #}
        <p class="pull-left">
            Author{% if article.authors | count > 1 %}s{% endif %}: {% include "authorlist.html" %}
            <br/>
            Published: <abbr title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr>
            {% if article.modified %}
                <br/>
                Modified: <abbr title="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</abbr>
            {% endif %}
            <br/>
            Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category.name }}</a>
            {% if article.tags %}
                <br/>
                Tags: {% include "taglist.html" %}
            {% endif %}
            <br/>
            Downloads: [download counter will go here FIXME]
        </p>
    </div>

    {{ article.content }}
{% endblock %}
