{% extends "base.html" %}

{% set current_tab = "home" %}
{# no breadcrumbs for top-level page #}

{% block content %}
    <div class="row">
    
        {# blog entry #}
        <div class="col-sm-5 col-md-6 col-lg-7">
            <h2>latest blog post</h2>
            {% set latest_blog_article = types[ 'blog' ].articles | first %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><a href="{{ SITEURL }}/{{ latest_blog_article.url }}">{{ latest_blog_article.title }}</a></h1>
                </div>
                <div class="panel-body">
                    {{ latest_blog_article.summary }}
                    <p><a href="{{ SITEURL }}/{{ latest_blog_article.url }}">read more</a></p>
                </div>
            </div>
        </div>
        
        {# download #}
        <div class="col-sm-4 col-md-3">
            <h2>latest download</h2>
            {% set latest_download = types[ 'downloads' ].articles | first %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><a href="{{ SITEURL }}/{{ latest_download.url }}">{{ latest_download.title }}</a></h1>
                </div>
                <div class="panel-body">
                    {{ latest_download.summary }}
                </div>
            </div>
        </div>
        
        {# social links #}
        <div class="col-sm-3 col-lg-2">
            <h2>me on the web</h1>
            {#<div class="panel panel-default">#}
                <div class="list-group">
                    {% for name, class, username, link in SOCIAL %}
                        <a class="list-group-item" href="{{ link }}"><i class="fa fa-2x fa-fw {{class}}"></i> {{ name }}</a></li>
                    {% endfor %}
                </div>
            {#</div>#}
        </div>
        
    </div>
{% endblock content %}
