{% extends "base.html" %}

{% set current_tab = type_settings.tab %}
{% set breadcrumbs = type_settings.parent_breadcrumbs + [ ( type_settings.title, type_settings.index_save_as ) ] %}

{# not 100% sure about this, but seems about right #}
{% set tutorial_count = 63 %}

{% block title %}
    {{ type_settings.title }}
{% endblock %}

{% block content %}
    <h1>{{ type_settings.title }}</h1>
    
    <p>Diese deutschen Tutorials rund um Jedi Knight II: Jedi Outcast und Jedi Knight: Jedi Academy Modding waren ursprünglich auf Darth-Arth.de gehostet. Dort sind sie mittlerweile nicht mehr verfügbar, daher werden sie hier mit freundlicher Genehmigung gespiegelt.</p>
    
    <p>Die Portierung der Tutorials ins neue Design ist noch in Arbeit, Fortschritt:</p>
    
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ articles | count }}" aria-valuemin="0" aria-valuemax="{{ tutorial_count }}" style="width: {{ ( articles | count ) / tutorial_count * 100 }}%">
            {{ articles | count }} / {{ tutorial_count }}
        </div>
    </div>
    
    {% for category, articles in categories %}
        <h2>{{ category.name }}</h2>
        <ul>
            {% for article in articles %}
                <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock content %}
