{% set current_tab = "tutorials" %}
{% set breadcrumbs = [ ( "tutorials", "tutorials/index.html" ), ( "Darth-Arth.de Archiv", type_settings.index_save_as ) ] %}

{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ type }}{% endblock %}
{% block content %}
    
    <h1>Darth-Arth.de Archiv</h1>
    
    <p>TODO description goes here</p>
    
    {# There are 63 tutorials in total, I think #}
    <p>
        Die Portierung der Tutorials ins neue Design ist noch in Arbeit, Fortschritt:
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ len( articles ) }}" aria-valuemin="0" aria-valuemax="63" style="width: {{ round( len( articles ) / 63 * 100 ) }}%">
                {{ len( articles ) }} / 63
            </div>
        </div>
    </p>
    
    {% for category, articles in categories %}
        <h1>{{ category.name }}</h1>

        <ul>
            {% for article in articles %}
                <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock content %}
