{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
    
    <p>Für sämtliche Tutorials, die nicht von mrwonko sind, gilt: Alle Bilder, Texte, Grafiken, wenn nicht anders gekennzeichnet: © 2000 - 2003 (Artur L.) Nur zur privaten Nutzung. Kopieren nicht gestattet. Hier gespiegelt mit freundlicher Erlaubnis von Darth-Arth a.k.a. MetalBeast (<a href="http://www.3d-get.de/metalbeast">Website</a>).</p>
    
    {% for category, articles in categories %}
        <h1>{{ category.name }}</h1>

        <ul>
            {% for article in articles %}
                <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock content %}
